.span_2{width: 100%;height: auto;display: flex;flex-wrap: wrap;padding-left: 10px;}
.span_2 article { width: 32%;margin: 0px;padding: 0px;}
.span_2 a{ text-decoration: none;}
.span_2 figure {margin: 0px;padding-left: 34px;padding-bottom: 0px;}
.span_2 h3 {padding:15px 0 15px 0;margin: 0px;color:#807b7b;}
.hinh_anh2 {width: 380px;height:250px;;}
.desgin_h1 h1{padding:20px 0 0 0px;text-align: center;font-family: "Times new Roman";color: #98b51a;}
